node_modules/

dist/
build/
storybook-static/

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode/
.idea/

*.tsbuildinfo

.tailwind/

.storybook-out/

.env
.env.local
.env.*.local

package-lock.json
yarn.lock
pnpm-lock.yaml

*.swp
*.swo
*.bak
*.tmp
